/* Spotify Player Container */
.spotify-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 16px;
  box-sizing: border-box;
  height: 100px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 2px 2px 0px black;
}

.pixel-font {
  font-family: 'Press Start 2P';
}

/* Player Container (Track Info + Controls) */
.player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Track Info (Album Art + Track Details) */
.track-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.album-art {
  width: 64px;
  height: 64px;
  /* border-radius: 8px; */
}

.track-details {
  display: flex;
  flex-direction: column;
  /* text-align: right; */
}

.track-name {
  font-weight: bold;
  font-size: 16px;
}

.artist-names {
  color: #ddd;
  font-size: 12px;
}

/* Player Controls */
.player-controls {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 16px;
}

.play-status {
  font-size: 12px;
  /* align-items: right; */
}

.play-status.playing {
  color: #1db954; /* Spotify green */
}

.play-status.paused {
  color: #eee;
}

/* Playlist Buttons (to the right of the player) */
.playlist-container {
  border-left: solid #ddd;
  border-width: 2px;
  padding-left: 12px;
}

.playlist-title {
  padding-bottom: 4px;
  font-size: 14px;
}

.playlist-buttons {
  display: flex;
  gap: 10px;
}

.playlist-button {
  background-color: #7171712c;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 20px;
}

.playlist-button:hover {
  background-color: #1ed75f43;
}

/* Draggable Overlay */
.overlay {
  position: fixed;
  z-index: 100;
  background-color: #282828;
  border-radius: 12px;
  padding: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: move;
}

.iframe-container {
  width: 100%;
  height: 100%;
}

.iframe-container iframe {
  border-radius: 12px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.floating-close-button {
  font-family: courier;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: black; /* Black background */
  border: none;
  color: white;
  font-size: 20px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px 6px 4px 6px;
}

.floating-close-button:hover {
  color: #1db954;
}

@media (max-width: 500px) {
  .play-status {
    font-size: 8px;
    text-shadow: 1px 1px 0px black;
  }
  
  .album-art {
    width: 48px;
    height: 48px;
  }
  
  .track-name {
    font-size: 10px;
    text-shadow: 1px 1px 0px black;
  }

  .playlist-title {
    font-size: 10px;
    text-shadow: 1px 1px 0px black;
  }

  .playlist-button {
    font-size: 12px;
    padding: 4px 6px;
  }
}